*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.767);
}

.calc-body {
    height: 300px;
    width: 200px;
    background-color: gray;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.display {
    height: 30px;
    width: 95%;
    background-color: rgba(0, 128, 0, 0.466);
    margin: 0 auto;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.number-btn,
.dot-btn {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

button:last-of-type {
    width: 65px;
}

button:last-of-type,
.dot-btn {
    order: 1;
}
